.container {
  background-color: #373780;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 1rem;
  height: fit-content;
  color: white;
  gap: 0.5rem;
  width: 90%;
}

.title {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.date,
.time {
  color: #d1d1d1;
  font-size: 0.9rem;
}

.edit {
  background-color: #5757d1;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 0.9rem;
}

.edit:hover {
  background-color: #4747b1;
}

.delete {
  background-color: #d15757;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 0.9rem;
}
.delete:hover {
  background-color: #b14747;
}

.close {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  align-self: flex-end;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

@media (min-width: 600px) {
}
