.layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  /* background-color: #f1f1f0; */
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 870px) {
  .main {
    display: flex;
    flex-direction: row;
  }
}
