.section {
  width: 100%;
  position: sticky;
  top: 5rem;
  margin-left: 0;
  margin-right: 0;
  z-index: 1;
}

.navigation {
  width: 100%;
  display: none;
  grid-template-columns: repeat(3, auto);
  list-style-type: none;
  justify-items: start;
  padding: 0.5rem;
  gap: 0.1rem;
  background-color: #f0e9e9;
}

@media (min-width: 520px) {
  .navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
  }

  .select {
    display: none;
  }
}

@media (min-width: 870px) {
  .section {
    width: 30%;
    height: calc(100vh - 5rem);
  }

  .navigation {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
