.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: #f1f1f0;
  box-shadow: 2px 2px 2px 2px #f8f8f7;
  padding: 5%;
  height: fit-content;
  gap: 1rem;
  margin-block: 5%;
  margin-inline: 4%;
  border-radius: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 0.2rem;
}

.avatar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.avatarImage {
  width: 5rem;
  height: auto;
}

.svg {
  background-color: #e70ae7;
  font-size: 2rem;
}

.actions {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.link {
  background-color: #800080;
  color: #fff;
  text-decoration: none;
  height: fit-content;
  padding: clamp(0.3rem, 0.6vw, 0.4rem);
  border-radius: 0.5rem;
  font-size: clamp(0.6rem, 1.5vw, 1rem);
}

.link:hover {
  background-color: #e70ae7;
}

.active {
  background-color: #e70ae7;
}

.actions button {
  padding: 0.5rem;
  font-weight: 600;
  color: #706565;
  background-color: transparent;
  outline: none;
  border: 2px solid grey;
  border-radius: 0.2rem;
  font-size: clamp(0.6rem, 1.5vw, 1rem);
  padding: clamp(0.3rem, 0.6vw, 0.4rem);
  height: fit-content;
}

.actions button:hover {
  background-color: #e70ae7;
  color: #fff;
}

@media (min-width: 720px) {
  .container {
    width: 60%;
    margin-inline: 20%;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 40%;
  }
}

@media (max-height: 460px) {
  .container {
    height: 90%;
    overflow: scroll;
    margin-block: 5%;
  }
}
