.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: fit-content;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.control {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.control input[type="text"],
.control input[type="password"] {
  width: 50%;
}

.actions {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.cancel {
  font-weight: 600;
  color: #706565;
  background-color: transparent;
  outline: none;
  border: 2px solid grey;
  border-radius: 0.2rem;
  padding: clamp(0.3rem, 0.6vw, 0.4rem);

  font-size: clamp(0.6rem, 1.5vw, 1rem);
  height: fit-content;
}

.update {
  background-color: #800080;
  color: #fff;
  text-decoration: none;
  height: fit-content;
  border: none;
  box-shadow: 2px 2px 2px 2px #800080;
  padding: clamp(0.3rem, 0.6vw, 0.4rem);
  border-radius: 0.5rem;
  font-size: clamp(0.6rem, 1.5vw, 1rem);
}

.actions button:hover {
  background-color: #e70ae7;

  color: #fff;
}
