.error {
  background-color: black;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 2rem;
  border-radius: 12px;
  font-size: 1.5rem;
  text-align: center;
  z-index: 4;
}
